In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv('Salary_Data.csv')

In [4]:
dataset.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [5]:
dataset.columns

Index(['YearsExperience', 'Salary'], dtype='object')

In [15]:
y = dataset['Salary']
x = dataset['YearsExperience']

In [16]:
type(x)

pandas.core.series.Series

In [17]:
# converting pandas series to numpy array datatype for the fit() method
x = x.values

In [18]:
type(x)

numpy.ndarray

In [19]:
x.shape

(30,)

In [20]:
# converting x from 1D to 2D numpy array
x = x.reshape(-1,1)

In [21]:
x.shape

(30, 1)

## Linear Regression : y = b + c*x

##### b --> bias / Y-intercept
#####    c --> coefficient

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
model = LinearRegression()

In [25]:
model.fit(x,y)

LinearRegression()

In [26]:
# joblib module is used to save and load the model
import joblib

In [27]:
joblib.dump(model,'salarymodel.pk1')

['salarymodel.pk1']

In [29]:
experience_yrs = 7.1

In [31]:
salary_pred = model.predict([[experience_yrs]])

In [32]:
salary_pred

array([92886.932681])

In [33]:
model.coef_

array([9449.96232146])

In [34]:
model.intercept_

25792.20019866871